[2017-12-21 21:50] mbohlool opened #2 "Support kubeconfig loader"
Just like python client [here](https://github.com/kubernetes-client/python-base/blob/a41c44715241552de73361673152f3f0d0bb9bc4/config/incluster_config.py) and [here](https://github.com/kubernetes-client/python-base/blob/a41c44715241552de73361673152f3f0d0bb9bc4/config/kube_config.py), we need to support loading kubeconfig both in cluster and outside of the cluster.

[2017-12-21 21:50] mbohlool opened #3 "Support Watch"
Watch is a non-standard method that swagger-codegen does not support and we need to add support for it like other clients (e.g. python [here](https://github.com/kubernetes-client/python-base/tree/a41c44715241552de73361673152f3f0d0bb9bc4/watch))

[2017-12-21 21:51] mbohlool opened #4 "Support exec/attach calls"
Exec and Attach class are non-standard calls that kubernetes API server uses to connect to a port of a pod/container or execute a command on them. It uses SPDY or WebSockets. Normal calls to these endpoints will result in an upgrade request from API server. We need to support WebSocket for this client (for those endpoints). [This is python](https://github.com/kubernetes-client/python-base/tree/a41

[2017-12-21 21:52] mbohlool opened #5 "Packaging"
Configure and package the client (Cabal?).

[2017-12-29 06:09] guoshimin opened #8 "POST/PUT methods not working"
Context: https://github.com/kubernetes-client/haskell/pull/7#issuecomment-353712971

Once https://github.com/swagger-api/swagger-codegen/pull/7254 is merged, we should re-generate the code using the latest swagger-codegen.

[2017-12-29 06:10] guoshimin opened #9 "Breaking up Model.hs and API.hs into submodules"
Regenerate the code using the latest swagger-codegen once https://github.com/swagger-api/swagger-codegen/pull/7254 is merged.

[2017-12-30 07:22] owainlewis opened #10 "User level documentation"
Add some simple request (list Pods etc) examples to the README to help new users get started and how to authenticate etc.

[2018-01-11 19:03] guoshimin commented on #2
I have a solution that uses FFI to call the Go code for loading the kubeconfig, including auth plugin handling. I will open a PR when it's in a good enough shape.

[2018-01-11 19:27] guoshimin commented on #10
I'll try to add some documentation, probably just replace the autogenerated kubernetes/README.md, which is not that useful for the user.

[2018-01-11 22:13] #8 closed

[2018-01-11 23:03] guoshimin commented on #9
Fixed in #11

Note: only API.hs was broken up. Breaking up Model.hs turns out to be nontrivial. See https://github.com/swagger-api/swagger-codegen/pull/7254#issuecomment-356943288

[2018-01-11 23:03] #9 closed

[2018-01-24 00:17] guoshimin commented on #10
@owainlewis We need a Haskell reviewer. Would you be up for reviewing #12 ?

[2018-02-01 19:33] wayofthepie commented on #3
I have the bones of a working watch client here https://github.com/wayofthepie/kubernetes-watch/blob/master/src/Kubernetes/WatchClient.hs. I was going to create it directly within this repo, but it currently relies on the [streaming-bytestring](https://hackage.haskell.org/package/streaming-bytestring) library and I can't see a way of adding non-generated dependencies to the cabal file.

What were

[2018-02-06 12:29] mbohlool commented on #3
you can exclude the cabal file from generation and edit it. It is reasonable to manually edit dependency list as we did the same in other clients. The watch is better to be in this repo for now and when we get to a stable repo, it should be moved to a -base repo.

[2018-02-21 00:32] #10 closed

[2018-04-28 18:37] dservgun commented on #4
@mbohlool I would like to pick up this task. I need some help in getting my dev env setup. Is there a document that i can use as a guide, that would be quite helpful. As far as implementation, I was planning to initially implement a client on ```ws:///``` and then add security? Will this work. Are there any  issues that i need to be aware of. This is my first into kubernetes so I may need some hel

[2018-04-29 04:00] mbohlool commented on #4
The dev setup should be as simple as your haskell dev env + minikube. For a reference implementation look at the stream class in python client at kubernetes-client/python-base.

[2018-04-29 04:11] dservgun commented on #4
Sounds good. Let me start work on it.

[2018-05-16 03:37] dservgun commented on #4
@mbohlool : Can you please help me setup on slack, when you get a moment? I had tried once, but it needed an account in a specific slack channel. Thank you.

[2018-05-17 01:38] dservgun commented on #4
Hi Mehdy:
I get this error when i try to join on slack:
Find your workspace to reset your password

You asked us to send you a password reset link for kubernetes.slack.com. It
turns out the email address *dinkar. ganti@gmail. com* doesn't have an
account for that workspace yet.

Can you please help me set up on slack.

Thanks,

Dinkar

On Sun, Apr 29, 2018 at 12:00 AM, Mehdy Bohlool <notifications

[2018-05-24 14:47] jessfraz opened #20 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-19 06:21] mjhopkins opened #23 "Put on Hackage"
Hi,

Is there a plan to put this code up on Hackage?

Even if you don't think you're ready for a major release, having the code deployed to Hackage would be really helpful for a lot of people.

[2018-06-20 14:04] ghuntley commented on #23
Agreed. I'd like to help (as a maintainer) with this project let me know if you need help/I'm @ghuntley on slack say howdy.

[2018-06-20 14:55] dservgun commented on #23
Welcome to the team.
 I was implementing the exec call and am sure my Pr needs review . Can we setup please a time so we can push this through.
Thanks
Dinkar

Sent from my iPhone

[2018-06-25 05:05] guoshimin commented on #23
@ghuntley Thanks for volunteering! This project definitely needs all the help it can get. If you are up for it, can you take https://github.com/kubernetes-client/haskell/issues/5?

[2018-08-04 03:22] spiffxp opened #24 "Create an OWNERS file"
ref: https://github.com/kubernetes/community/issues/1721

This repo is listed in sigs.yaml as belonging to sig-api-machinery, but it lacks an OWNERS file.  Can you please add one with the appropriate list of approvers and reviewers? eg:
- [robust example: approvers, reviewers, aliases](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/OWNERS)
- [simple example: only appro

[2018-08-21 18:15] #24 closed

[2018-10-31 16:30] alexjg commented on #5
I'm interested in helping with this. What exactly needs doing? Just getting all the necessary config in place to upload to hackage?

[2018-10-31 18:45] guoshimin commented on #5
Yeah, pretty much.

[2018-11-11 19:00] jonschoning opened #28 "Notes on the generator"
Several months ago, the folks at SmartBear (who own the repo for swagger-codegen [1] ) decided to do a re-write while moving from supporting the 2.0 openapi spec to 3.0.

However, in this process, they also changed the templating language from mustache to handlebars - invalidating existing languages - essentially existing work for each language would have to be re-built from scratch.

This caused

[2018-11-12 09:55] alexjg commented on #28
I'm not an ongoing user yet but I would like to be. My main impediment at the moment being getting this onto hackage. On that basis and given the discussion in #25 I would be in favour of option two. My main reason being that I think we'll probably need to massage the output of the generator a bit to achieve the package organisation discussed in that PR.

[2018-12-21 10:09] fejta commented on #20
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 21:56] fejta commented on #20
kubernetes-client/haskell still needs a SECURITY_CONTACTS file.
/assign @guoshimin @mbohlool @brendandburns @greenrd @spiffxp

[2019-01-04 22:06] jkachmar commented on #28
I'm a potentially interested user as well, but I'm hesitant to pick up the library until some of this stuff has stabilized.

Is there anything I could do to help either this process or the one outlined in #27 to get it on Hackage?

[2019-01-26 05:15] spiffxp commented on #20
/close
Fixed by https://github.com/kubernetes-client/haskell/pull/30 (thanks @mbohlool)

[2019-01-26 05:15] #20 closed

[2019-02-25 22:10] jkachmar commented on #28
I've tried generating the client code with the OpenAPI generators and have run into the following failures:

<details><summary>Log Snippet</summary>
<p>

[code]

</p>
</details>

No idea what the root cause might be, unfortunately, although I've seen some issues with similar errors (e.g. OpenAPITools/openapi-generator#2236).

[2019-02-25 23:39] jonschoning commented on #28
@jkachmar  Do you have a link to the spec file used that this failed on?
I had tested it with `version": "v1.9.0`, which is OAS 2.0.

I noticed the linked issue above was using `oneOf`, which is an OAS 3.0 features that is not well supported yet; if newer versions of the kubernetes are using OAS 3.0 features like `oneOf`, then there may be differences how `openapi-generator` and `swagger-codegen`

[2019-02-26 00:30] jkachmar commented on #28
I tested it with `v1.11.8`, which I _think_ should still be OAS 2.0. I'm not at the computer I ran all this on, so I'll fork this and the `gen` repo to try and reproduce what I saw earlier when I get back to it.

[2019-02-26 06:01] jonschoning commented on #28
I was able to compile the "processed" `v1.11.8` spec manually with `openapi-generator`, although the cli option `--skip-validate-spec` was necessary.

It did output a fair amount of warnings, but they did not seem to impact the generated code & the stack build cmd completed fine:
https://gist.github.com/jonschoning/1bfc9385681d52d2361f8253b96ac05b.

I did not seem to encounter the same error in yo

[2019-02-26 16:04] jkachmar opened #32 "Logging framework selection"
Currently the `haskell-http-client` OpenAPI generator selects one of `katip` or `monad-logger` when generating the client functions.

Perhaps this is too much additional complexity, but it seems like it wouldn't be _too_ much extra effort for the upstream `haskell-http-client` to generate both `{{baseModule}}.Logging.MonadLogger` and `{{baseModule}}.Logging.Katip`, make `{{baseModule}}.Logging` a

[2019-02-26 16:05] jkachmar commented on #32
cc @jonschoning

[2019-02-26 17:36] jonschoning commented on #32
I think that's doable.

I was also thinking about removing `katip` completely, but I could also just make `monad-logger` the default option in the above scenario.

[2019-02-27 20:14] jonschoning commented on #32
https://github.com/OpenAPITools/openapi-generator/pull/2258

[2019-02-28 20:25] jonschoning commented on #28
I tested out making the changes to `/gen` to use openapitools to regenerate the client.
the changes to `/gen` were pretty simple: https://github.com/jonschoning/gen/commit/c1cb27aaaa2c5d2e846ce015a7288c53c3f00e84

the results are here: https://github.com/jonschoning/haskell/commit/6433ac6629f09bd50cbfd38a3d73bd3b08ee8bfe

The codegen is pretty much the same, save for the ordering of the "body" par

[2019-02-28 20:31] jkachmar commented on #28
Personally, I feel that since the Kubernetes clients for Ruby and Python clients here are switching over to the openapitools generators I feel like it makes sense to want to switch this one as well.

It also means that when/if the Kubernetes OpenAPI spec starts to use some features from OpenAPI v3 it would be easier to send a PR up to you that incorporates that functionality into the `http-client`

[2019-02-28 21:30] jkachmar commented on #3
Can this ticket be closed now that the watch client was merged in #14 ?

[2019-02-28 21:36] jkachmar commented on #2
@guoshimin Given that #15 was merged, is there any additional work that needs to go towards supporting the kubeconfig loaders?

Out of curiosity, what was the Go FFI stuff and does it still make sense to add it here?

[2019-02-28 21:51] guoshimin commented on #3
Yeah this can be closed.

[2019-02-28 21:58] guoshimin commented on #2
Yeah we need to add support for the authentication methods in https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth, especially oidc, gcp, and exec. I was working on a solution that reuses the Go implementation via FFI, but was blocked by a Go bug (fixed now) and uncertainty around how to distribute that, since we would need to build some Go code. Alternatively we could also i

[2019-03-01 18:43] jkachmar commented on #2
Hmm... I admit now that I look at the Go code I realize that the `exec` auth would be _very_ useful for me, so FFI-ing out to it would be swell (especially if you already have some working code.

Can you post it in a gist, branch, etc. for me/others to take a look?

With respect to packaging, I stumbled upon [this blog post](https://sakshamsharma.com/2018/02/haskell-golang-ffi/) whose [example sou

[2019-03-01 19:47] guoshimin commented on #2
I have some code here: https://gitlab.com/guoshimin/kube-clientconfig

I haven't touched the code for a long time, it probably doesn't work out of the box.

[2019-03-05 01:43] guoshimin commented on #28
@jonschoning Awesome! Can you open a PR against the gen repo?

[2019-03-05 01:57] jonschoning commented on #28
sure, will do

[2019-03-05 22:08] guoshimin commented on #2
I updated the code and tried using the exec plugin and it seems to work. @jkachmar If you think this is the route we should go down I'll clean up the code and try to merge it.

[2019-03-07 23:34] jkachmar commented on #2
Awesome, thanks for bringing it up-to-date.

I've been trying to figure out _how_ the distribution of this stuff might work and mostly been coming up blank.

If it's not too much effort to clean up the code and open a PR, maybe we could try to figure out a good way to package it up that Hackage is happy with.

---

So far, the only thing I can think of (and this feels like kind of an awful hack) i

[2019-03-07 23:45] jkachmar commented on #32
This looks like it's been addressed, but I'll leave the issue open until we've merged the changes introduced by kubernetes-client/gen#108 that gives us access to this.

[2019-03-07 23:50] guoshimin commented on #3
/close

[2019-03-11 17:46] denibertovic commented on #28
This can probably be closed since the above PR has been merged.

[2019-03-11 17:53] denibertovic commented on #3
Guess somebody else will have to close this then.

[2019-03-12 00:26] #28 closed

[2019-03-13 01:23] guoshimin commented on #3
/close

[2019-03-13 01:24] #3 closed

[2019-03-17 20:44] guoshimin opened #37 "Set up travis"

[2019-03-17 20:44] guoshimin commented on #37
/assign @guoshimin

[2019-03-18 15:55] guoshimin opened #39 "Implement custom type for IntOrString"
Ref: https://github.com/OpenAPITools/openapi-generator/issues/2362#issuecomment-473337518

[2019-03-18 21:32] guoshimin opened #40 "Integration test on travis"
https://blog.travis-ci.com/2017-10-26-running-kubernetes-on-travis-ci-with-minikube

[2019-03-19 12:58] #37 closed

[2019-03-23 20:30] jkachmar commented on #40
It might also be worth considering Kubernetes in Docker (`KinD`), as shown here: https://github.com/xmudrii/travis-kind/blob/master/.travis.yml

[2019-03-23 20:31] #32 closed

[2019-03-23 20:40] guoshimin commented on #40
Neat!

On Sat, Mar 23, 2019, 1:30 PM Joe Kachmar <notifications@github.com> wrote:

[2019-04-26 16:49] alexjg commented on #5
I'm still interested in this and I think it's pretty important. I don't think it should be closed.

[2019-04-30 05:19] guoshimin commented on #4
/remove-lifecycle stale

[2019-04-30 05:19] guoshimin commented on #5
/remove-lifecycle stale

[2019-04-30 05:19] guoshimin commented on #23
/remove-lifecycle stale

[2019-04-30 05:20] #39 closed

[2019-06-12 08:18] akshaymankar opened #44 "Quantity has wrong `FromJSON` instance"
This causes something as simple as getting a pod to fail. Here is the definition of `V1ResourceRequirements` from the code.

[code]
The requests and limits are defined in terms of `Quantity`.  And here is the definition of `Quantity`:
[code]

The YAML I get from the server looks like this:
[code]

When I try to parse it, I get this error:
[code]

If I try to parse `100m` as Quantity, I get the sam

[2019-06-12 08:24] guoshimin commented on #44
There is already a PR for it: #43

[2019-06-12 18:31] erthalion opened #45 "patchNamespacedCustomObject returns "Invalid JSON Patch" error"
Hi,

Thanks for the project! I'm trying it out, so far everything works smooth, except `patchNamespacedCustomObject`. I'm not sure why, but this example

[code]

where patch looks like:

[code]

returns

[code]

In the code above `patch` is just a Text, do I need to do something else with it? I've tried the same via `kubectl patch`, seems working, so I guess the payload itself is correct.

[2019-06-13 07:54] akshaymankar commented on #44
Now that #43 is merged, I will close it.

[2019-06-13 07:54] #44 closed

[2019-06-13 16:03] erthalion commented on #45
Ok, that was my misunderstanding - the `patch` in the example was `String "{...}"`, not a proper `Value`, which means that the resulting Body had all the quotes escaped.

[2019-06-13 16:03] #45 closed

[2019-06-15 14:04] akshaymankar commented on #2
Hello,

I tried implementing the config loader in pure Haskell here: https://github.com/akshaymankar/eirini-route-emitter/blob/46acfc7af3106977047cd99cc1d9176f11c7714a/src/KubernetesExtras/Client.hs

However, the GCP and OIDC auth code is not the best because after the the token expires, the `applyAuthMethod` function has no way of caching the new token for future requests. This causes unnecessary

[2019-06-15 22:25] akshaymankar commented on #2
/remove-lifecycle stale

[2019-06-17 04:54] guoshimin commented on #2
@akshaymankar Thanks for making the effort. I'm also nowhere close to being an expert. Just curious, is there anything holding you back from using an MVar or similar as the mutable cache?

[2019-06-17 08:28] akshaymankar commented on #2
Nothing really. I was going to try `MVar` anyways, but I thought I'd first fish for opinions here. I will try it and let y'all know if it goes well. In the meanwhile, if somebody has enough experience with them, opinions are welcome :)

[2019-06-21 21:38] guoshimin commented on #40
/remove-lifecycle stale

On Fri, Jun 21, 2019, 2:33 PM fejta-bot <notifications@github.com> wrote:

[2019-07-05 19:01] akshaymankar commented on #2
@guoshimin I ended up using TVar from `Control.Concurrent.STM`, and there is no global state kept by the library itself. The caller of `kubeClient` is free to keep it globally if they wish to.

With that, I think the basic kubeconfig loader I wrote is usable. Would you be open to accepting that in the client? If yes, I am willing to move that code to the client and make a PR. Perhaps you can revie

[2019-07-05 19:12] guoshimin commented on #2
Thanks for contributing. I'll probably start reviewing in a couple days.

On Fri, Jul 5, 2019, 12:01 PM Akshay Mankar <notifications@github.com>
wrote:

[2019-07-06 17:53] akshaymankar commented on #23
Hello, I see this issue is stuck since more than a year. What is stopping this?

[2019-07-08 17:12] guoshimin commented on #23
At this point there is no blocker. Just needs someone to do it...

[2019-07-09 10:34] akshaymankar commented on #23
Ok, I will do it if it is okay. Please let me know who all should be added to the maintainer group.

[2019-07-09 17:06] guoshimin commented on #23
You can add me, @jonschoning , and @jkachmar. What do you need besides names?

[2019-07-09 17:07] guoshimin commented on #23
and yourself, of course, if you wish, but I think that's automatic when you upload a package?

[2019-07-09 22:23] akshaymankar commented on #23
I actually need hackage usernames.

[2019-07-10 07:42] guoshimin commented on #23
I created an account. The username is guoshimin.

On Tue, Jul 9, 2019, 3:23 PM Akshay Mankar <notifications@github.com> wrote:

[2019-07-10 14:34] akshaymankar commented on #23
I uploaded the core package here: https://hackage.haskell.org/package/kubernetes-client-core-0.1.0.0
But the build is failing because stack is generating old version bounds, it is using lts-10.
I can see the latest openapi-generator uses lts-13.5. I will bump it and send PRs to the gen repo and this repo.

Also, @guoshimin I have added you as a maintainer on hackage.

[2019-07-10 15:32] akshaymankar commented on #23
Sorry, I was wrong. The generated code already is using lts-13.9, the stack.yaml outside the project which I used to generate sdist is using lts-10. I will update it and send a PR.

[2019-07-10 18:08] guoshimin commented on #23
Thanks for pushing on this. I'm a little confused. I was under the
impression that hackage doesn't use stack.

On Wed, Jul 10, 2019 at 8:32 AM Akshay Mankar <notifications@github.com>
wrote:

[2019-07-10 19:33] erthalion commented on #2
@akshaymankar could you please open a PR with the implementation? I've did a bit of review, but it looks cumbersome to actually test how does it work due to various dependencies, and I hope a real PR will make it easier. Plus it will make it more visible for everyone else who want to review.

[2019-07-10 20:18] guoshimin commented on #2
Yeah I was going to say that too. I took a quick look and it was more or less what I was expecting. Let's make a formal PR.

[2019-07-11 04:55] akshaymankar commented on #23
Hackage doesn't use stack, this is true. But we can generate packages to be uploaded to hackage using stack like this: `stack sdist --pvp-bounds both`. Which is how I generated the package.

[2019-07-11 05:05] akshaymankar commented on #23
The core package is uploaded to hackage and it works 🎉
See it here: https://hackage.haskell.org/package/kubernetes-client-core-0.1.0.1

I think we should tag the commit on which the version was built, which is this: 24171f73b86623adaffb586093ac288f97fab1c3. @guoshimin can you please do that?
For tagging we'll have to remember that we have two artifacts (core and client package) and their versions

[2019-07-11 06:36] guoshimin commented on #23
I don't think I have permissions to push tags. I'm not sure how this is done. @brendandburns Can you chime in?

[2019-07-11 07:14] akshaymankar commented on #23
I have uploaded kubernetes-core-0.1.0.0 to hackage: https://hackage.haskell.org/package/kubernetes-client-0.1.0.0

Hackage will run its build in a bit and we'll know if it is good.

I needed to make some changes to make sure latest versions of all dependencies were usable and also to make sure oldest known versions of dependencies are persisted long term. I have created this PR for it: #49

[2019-07-11 07:15] akshaymankar commented on #23
I also realized that I did not have to upload another version of `kubernetes-client-core` to update the bounds. I could've just edited the package and hackage would've created another revision. But I guess its too late to do anything 😞

[2019-07-11 18:26] akshaymankar commented on #23
Alright, so both packages are on hackage 🎉
Me and @guoshimin are the maintainers on hackage as of now.

Next, I was going to try to add them to stackage-nightly, but unfortunately kubernetes-client-core is going to need more lenient upper bounds: http://packdeps.haskellers.com/feed?needle=kubernetes-client-core. I think we'll have to fix it in openapi-generator.

But as the goal of this issue was

[2019-07-11 18:34] guoshimin commented on #23
Awesome! Huge thanks for pushing it through.

Any ideas why the https://hackage.haskell.org/package/kubernetes-client page is not showing the README?

And why does it show only me as the maintainer? Is it from package.yaml?

[2019-07-11 18:58] akshaymankar commented on #23
Good catch, this is because `package.yaml` doesn't have `README.md` in `extra-source-files`. Unfortunately it cannot be fixed in a revision. I will upload another version quickly and send a PR for that.

Yes, this is from package.yaml, I will add myself and send a PR.
I think I can update the `kubernetes-client-core` cabal file, so that won't require a new version.

[2019-07-11 19:00] guoshimin commented on #23
Thanks for taking care of this. Can you remove my email address from it
while you are at it?

On Thu, Jul 11, 2019, 11:58 AM Akshay Mankar <notifications@github.com>
wrote:

[2019-07-11 19:07] akshaymankar commented on #23
So, you want only your name in it?

[2019-07-11 19:09] akshaymankar commented on #23
Also, can you verify if this candidate looks ok: https://hackage.haskell.org/package/kubernetes-client-0.1.0.1/candidate

[2019-07-11 19:15] guoshimin commented on #23
What's the prevailing practice for including email addresses? I spot
checked a few packages and the results are varied. Seems most include the
email addresses. So I'm fine with including mine.

The page looks good.

On Thu, Jul 11, 2019, 12:09 PM Akshay Mankar <notifications@github.com>
wrote:

[2019-07-12 07:21] akshaymankar commented on #23
Ok, I added your email address back and published it. I have also added myself to `maintainers` in the core package. #50 has the commits for this and addition of README.

[2019-07-16 02:23] akshaymankar commented on #2
@erthalion @guoshimin and anybody else interested,
I have created a draft PR #51, please feel free to leave comments on it.

[2019-07-16 19:08] akshaymankar opened #52 "Add badges to README"
As specified [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md#client-capabilities), client libraries can add badges to show capabilities and support level. After we resolve #2, the haskell client can be silver and beta.

[2019-07-16 19:43] guoshimin commented on #23
/close

[2019-07-16 19:43] #23 closed

[2019-07-16 19:44] guoshimin commented on #5
This is same as #23
/close

[2019-07-16 19:44] #5 closed

[2019-07-29 09:26] akshaymankar commented on #4
/remove-lifecycle stale

[2019-08-01 11:04] akshaymankar opened #53 "Generate client for Kubernetes 1.15"

[2019-08-04 14:25] arianvp commented on #3
Is there a way to do watch in a type-safe way? such that the response isn't just a Stream of bytestrings?

[2019-08-05 22:32] akshaymankar commented on #3
There definitely is a way to make response not just be a stream of bytestrings. I wrote this program to demonstrate: https://gist.github.com/akshaymankar/8294788b6d9a9dd01a59573147f9afa1

However, there is a type which the `dispatchTypedWatch` function cannot type-check as of now. If you look at the signature, it expects a consumer function of type  `(Stream (Of (Either String (WatchEvent a))) IO

[2019-08-06 06:43] arianvp commented on #3
I was wondering if we could make some of the types in the generator polymorphic to facilitate this

So have `data EndpointsList f = EndpointList (f Endpoints))`

Now we can do:

`EndpointsList (Compose Stream (Compose Of WatchEvent)) ` for streaming requests
And `EndpointsList []` for normal requests

[2019-08-06 12:33] akshaymankar commented on #3
If we write a custom generator, we can. But in plain openapi-spec, there is no indication about the return type of watch.

Consider spec for listing namespaced pods:
[code]

In case of 200, content can be one of these:
[code]

Even when the content-type is `application/json;stream=watch`, it says the schema has to be `#/components/schemas/v1.PodList`, which looks wrong to me. I am not sure how the

[2019-08-06 16:48] mikedanese opened #54 "client should periodically reload InClusterConfig token"
See https://github.com/kubernetes/kubernetes/issues/70679

[2019-08-16 07:13] akshaymankar commented on #40
I tried using kind, it starts within 2 minutes on travis!
I really like the way csharp client has integration tests. There are examples which are just executed as integration tests. I am thinking of doing the same. Please let me know if anybody has opinions on this.

I am also assuming that nobody is working on this, if somebody is please shout at me :)

[2019-09-29 14:29] frincon opened #56 "Error with DateTime Format"
When trying to create a a resource with DateTime field, kubernetes returns 400 with the following message:
[code]

## Example code to reproduce:
[code]

[2019-10-02 16:13] #56 closed

[2019-10-12 09:50] akshaymankar commented on #53
Closing as #60 fixes it.

[2019-10-12 09:50] #53 closed

[2019-10-14 11:01] akshaymankar commented on #2
Closing this as #51 is merged. Feel free to re-open if something is missing.

/close

[2019-10-14 11:01] #2 closed

[2019-10-14 20:11] akshaymankar commented on #52
/remove-lifecycle stale

[2019-10-15 07:25] akshaymankar opened #62 "Should we make a release?"
A few PRs have been merged since the last (first!) release. I think we should make another one now.
With #60 and #51, we've changed the APIs significantly to make us bump major according to PVP.
Also, with #60 all the dependencies are on stackage, so we can also add both the packages to stackage.

[2019-10-15 07:41] akshaymankar opened #63 "Proposal: Default to openssl"
I saw [this thread on twitter](https://twitter.com/ProgrammerDude/status/1183747024509902849) and realized that the `mkKubeClientConfig` defaults to using the native tls client and provides no _easy_ way of overriding it.

So, I propose we should just use `http-client-openssl` instead of `http-client-tls` for creating the client.

[2019-10-17 06:18] guoshimin commented on #63
👍

Didn't know `http-client-openssl` existed.

[2019-10-17 06:19] guoshimin commented on #62
👍

[2019-10-17 09:52] cirquit opened #64 "InternalException - certificate unknown with `mkKubeClientConfig`"
After trying this [snippet](https://github.com/kubernetes-client/haskell/blob/master/kubernetes-client/example/App.hs#L47) (thanks to @akshaymankar for proving the functionality) and replacing it with my local kube configuration file I got the following error:

[code]

I'm slightly out of my domain with managing certificates, but it seems that the underlying SSL library (#63?) can not find the nee

[2019-10-17 12:37] akshaymankar commented on #64
@cirquit You are right implementation of #63 should solve your problem.

You get the error because the native Haskell TLS implementation doesn't support validating servers based on IP address. There is a PR pending for this: https://github.com/vincenthz/hs-certificate/pull/113, when it is merged, this should work.

Easiest thing you can do is to replace the package `x509-validation` with the commi

[2019-10-17 15:48] cirquit commented on #64
So, after adding the your current PR to the `extra-deps` in the `stack.yaml` file as follows:

[code]

I get the following error as I `stack build`:

[code]

The full paste is found [here](https://pastebin.com/3YuRixyB).

I've checked the source of `connection-0.2.8` and it uses the `Network.Socks5` import. The apparently missing file should definitely be there as seen from the [`socks-0.5.6` docu

[2019-10-21 11:38] cirquit opened #65 "Examples"
It would be awesome to have some simple examples, similar to the [official python examples](https://github.com/kubernetes-client/python/tree/master/examples).

In my case some useful ones would be "create deployment from file" and "reconfigure a live replicaset".

If I manage to get some up and running, would you be open to a pull request? Otherwise, what is the best source to learn about the API?

[2019-10-21 14:27] cirquit commented on #65
So after setting up the environment #64 it seems like I can't get the basic functionality to start working with the library. It seems like any functionality from `http-client` is hidden and I can't access it the usual way.

Example:
[code]

Per this [cabal FAQ](https://www.haskell.org/cabal/FAQ.html#hidden-packages-b) it seems the proposed solution was to add `http-client` into the `package.yaml`,

[2019-10-21 15:50] akshaymankar commented on #65
I have written couple of examples in #61. Hopefully we'll grow them soon, we can use this issue to track that.

Cabal treats all transitive dependencies as hidden packages, so you cannot import things from them. To import them, you'd have to add them as a direct dependencies of your package. In this case, add `http-client`to `package.yaml` and `import Network.HTTP.Client`

[2019-10-21 15:52] akshaymankar commented on #64
@cirquit I am closing this issue as #63 exists to track the TLS issue. Feel free to re-open if you think I missed something

/close

[2019-10-21 15:52] #64 closed

[2019-10-22 08:00] cirquit commented on #65
Thank you for the examples, seems like I can get started with those. For the hidden package problem - this is exactly what I've done and it still is not possible for me to import the module:

[code]

I've already tried `stack clean`, deleting the project and setting it up again and specifying the version to `http-client-0.5.14` in the `package.yaml` under dependencies.

[2019-10-27 21:12] akshaymankar commented on #4
/remove-lifecycle stale

[2019-10-29 15:55] mrbobbytables opened #66 "Clean up outside collaborators"
Hey there @kubernetes-client/haskell-admins ,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through thei

[2019-11-04 17:58] mikedanese commented on #54
/lifecycle frozen

[2019-11-14 12:02] akshaymankar commented on #40
/remove-lifecycle stale

 guess why we didn't get travis will always be a mystery.

I tried compiling the project in prow on kind, but it failed on my macbook while consuming 400% CPU for 2 hour straight. I will try it again on a linux machine soon. But I think it would be a PR to the [test-infra repository](https://github.com/kubernetes/test-infra) anyways.

So, I think we should merge this PR as

[2019-11-29 23:57] jonschoning opened #67 "Incorrectly generated query strings (that rely on + not being urlencoded)"
according to https://github.com/OpenAPITools/openapi-generator/issues/3459, when generating request URIs, the generated code uses Query for the query type, which escapes characters like `+`, which should not escaped, for instance, for the Kubernetes API client.

In the Kubernetes API client, we should be able to generate queries like `?labelSelector=environment+in+%28production%2Cqa%29%2Ctier+in+%

[2019-12-01 14:16] mrbobbytables commented on #66
Permissions have been cleaned up.

@guoshimin @jonschoning -- please accept the org membership request to kubernetes-client to finish joining the org.
[latest peribolos log](https://storage.googleapis.com/kubernetes-jenkins/logs/post-org-peribolos/1199790856974897152/build-log.txt):
[code]

@jkachmar  -- Please go ahead and file for [org membership](https://github.com/kubernetes/community/blob/mas

[2019-12-01 14:16] #66 closed

[2019-12-17 10:05] amarrella commented on #62
Hi :) Thanks for this project! Any news on a possible release?

[2019-12-19 20:42] liggitt opened #68 "in-cluster config builder does not work properly in an ipv6 cluster"
https://github.com/kubernetes-client/haskell/blob/130c89743fee1398987b06ad742acab5b0c5c4bd/kubernetes-client/src/Kubernetes/Client/Config.hs#L91-L93

assumes a DNS name or ipv4 address... it does not work correctly with an ipv6 address (the ipv6 host must be wrapped in brackets)

[2019-12-19 21:08] jonschoning commented on #62
👍

[2020-01-13 08:49] akshaymankar commented on #52
/remove-lifecycle stale

[2020-01-15 08:42] akshaymankar commented on #63
/remove-lifecycle stale

[2020-01-26 18:16] akshaymankar commented on #4
/remove-lifecycle stale
/lifecycle frozen

[2020-02-12 14:31] akshaymankar commented on #40
/remove-lifecycle stale

[2020-02-28 17:23] jonschoning commented on #67
/remove-lifecycle stale

[2020-03-19 08:56] akshaymankar commented on #68
/remove-lifecycle stale

[2020-03-20 10:16] #65 closed

[2020-04-14 09:12] akshaymankar commented on #63
/remove-lifecycle stale

[2020-04-18 10:05] akshaymankar commented on #62
/remove-lifecycle rotten

[2020-04-28 17:59] zshihang commented on #54
/remove-lifecycle frozen

[2020-05-12 12:07] akshaymankar commented on #52
/remove-lifecycle rotten

[2020-05-25 06:47] #54 closed

[2020-05-28 19:27] jonschoning commented on #67
/remove-lifecycle stale

[2020-06-25 13:33] erthalion commented on #62
Hi,

I also would love to ask about the next release. At the moment there are two of
them on hackage (0.1.0.0, 0.1.0.1), but apparently they don't include the
latest changes, which are already reflected e.g. in the readme, and it's a bit
confusing.

[2020-06-25 17:52] akshaymankar commented on #62
Hey @erthalion, Thanks for the nudge. I will take some time to upload a release by this weekend.

[2020-06-25 17:53] akshaymankar commented on #68
/remove-lifecycle stale

[2020-06-30 18:14] akshaymankar commented on #62
Hello everyone, I made a release for both packages. They are both versioned 0.2.0.0. You can look at them on hackage at:
- [kubernetes-client-core](https://hackage.haskell.org/package/kubernetes-client-core-0.2.0.0)
- [kubernetes-client](https://hackage.haskell.org/package/kubernetes-client-0.2.0.0)

I wasn't able to find time in past few months, mostly because I lost motivation after our CI stuff

[2020-06-30 18:14] #62 closed

[2020-07-11 17:32] akshaymankar commented on #40
/reopen
/remove-lifecycle rotten

[2020-07-13 11:42] akshaymankar commented on #63
/remove-lifecycle stale

[2020-07-30 21:25] lallydd opened #72 "Sometimes k8s gives back Null and the client dies"
`mimeError = "Error in $.items[39].status.images[11].names: parsing [] failed, expected Array, but encountered Null",`

[code]

I just finished upgrading from 0.1.0.1 to 0.2.0.0 and I get the same error.  Is there some way to get past it?

[2020-07-31 06:34] akshaymankar commented on #72
I am guessing you're trying to get nodes here. It looks like `names` is a required field for the `ContainerImage` object as [documented here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerimage-v1-core), yet K8s decided to send a `null` there. I am suspecting this is because some image on the node doesn't have any names and [golang really likes nulls](https://play.g

[2020-08-05 14:23] lallydd commented on #72
On parse failure, i get the response body back out, parse into a `Value`, change any `names` that are `null` to empty lists, and then try parsing it again.  That seems to work around this.

[2020-08-05 14:23] #72 closed

[2020-08-12 20:44] joelmccracken opened #73 "Update to newer LTS?"
I'd like to use this on my project, but I would need to update to a newer LTS. Would that be accepted upstream, assuming all else is well? I have never updated an LTS on a big project so I don't totally know what to do.

[2020-08-13 08:44] akshaymankar commented on #73
Hey @joelmccracken, yes it would be accepted if you do it. Since this code is generated, you'll have to do it in the openapi-generator. You can look at https://github.com/OpenAPITools/openapi-generator/pull/4068 for inspiration.
Once the PR to the openapi-generator gets merged, you'll have to change the commit SHA in the [settings file](https://github.com/kubernetes-client/haskell/blob/master/sett

[2020-08-13 08:44] akshaymankar commented on #52
/remove-lifecycle stale

[2020-08-13 13:05] joelmccracken commented on #73
thanks!

[2020-08-13 20:14] jonschoning commented on #73
ill put in a PR to update https://github.com/kubernetes-client/gen since the newest version of openapi generator no longer depends on a ParseTime instance which will make moving to a newer LTS easier

[2020-08-24 04:24] jonschoning commented on #73
updating to newer openapi generator, don't need to update /gen.
https://github.com/kubernetes-client/haskell/pull/75

[2020-08-26 21:37] jonschoning commented on #67
/remove-lifecycle stale

[2020-08-30 22:22] polygonhell opened #76 "Issue with (-&-) optional argument operator and Command optional argument for exec"
In the Exec entry point

Command has to be supplied multiple times in the query string in order to pass parameters
[code]
should result in a query string of
`?command=ls&command=/&stdout=true&stderr=true`

but actually results in a query string of
`?command=/&stdout=true&stderr=true`

[2020-08-31 02:52] jonschoning commented on #76
It looks like the (-&-) operator currently only allows setting a single value.
I might change the generator to have it default to adding values instead of replacing values, but will have to think about the the right default is.

In the meantime, you can use the `setQuery` function directly to set a list of parameters with the same name at the same time, and they will all be output in the final que

[2020-08-31 05:00] polygonhell commented on #76
Thanks, no real rush on this.
I already had a workaround, in order to deal with the transition to web socket in the exec query I have to add a bunch of headers to the query anyway.
I just noticed this as dealing with that.

[2020-08-31 16:33] polygonhell commented on #76
One additional point, that might influence which way you decide to go with a solution this came up again with label selectors.

[2020-08-31 16:44] jonschoning commented on #76
ah, good to know.  I think part of what exacerbates this is that in the kubernetes swagger spec it looks like `labelSelector` is typed as a string for many of these operations, so the generator doesn't know that this can accept multiple values

[2020-08-31 16:50] polygonhell commented on #76
Yes, the problem is one common way collections are passed in query strings is to just repeat them in query.
Which leaves swagger specs are under defined.
One option if your not comfortable changing (-&-) would be to add a second operator (-&&-) that has the add's rather than replaces.

[2020-08-31 17:56] jonschoning commented on #76
@polygonhell  Is the spec actually asking for a CSV list instead of multiple instances of the query parameter here? or do both worK?

https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#list-and-watch-filtering

that would be compatible with the `string` type in the swagger spec.

Still might change the generator, but I wonder if building the CSV list as a string also works f

[2020-08-31 18:37] polygonhell commented on #76
I think both work, my test seemed to work with multiple instances.

[2020-09-01 03:37] polygonhell commented on #76
My error it looks like if you pass 2 labelSelectors it's just ignoring the second one, the correct syntax is as you state comma separated.

[2020-09-01 13:50] jonschoning commented on #76
/close

[2020-09-01 13:52] jonschoning commented on #76
Please re-open if the problem still persists

[2020-09-01 14:53] #40 closed

[2020-09-01 15:18] polygonhell commented on #76
Sorry to clarify the command problem still exists, the labelselector issue does not.

[2020-09-01 18:46] akshaymankar commented on #76
/reopen

[2020-09-01 19:05] jonschoning commented on #76
ok i'll put in an update to the generator

[2020-09-07 20:21] magthe opened #77 "Issue with kubernetes-client dependency on time on Hackage"
I'm not sure what's happened, but kubernetes-client 0.2.0.0 available on Hackage has a dependency on `time ==1.8.*`, which makes it difficult to build with GHC 8.8 (8.8.4 has `time 1.9.3`). I'm not completely sure why the generated Cabal file has that version bound though, because the `package.yaml` clearly states a dependency on `time >=1.8`.

I just ran `hpack`(version 0.34.2) manually on the `p

[2020-09-08 18:10] akshaymankar commented on #77
This happened due to generating bounds with stack while uploading to hackage. So, if you run `stack sdist --pvp-bounds both`, it would generate a cabal file with `time ==1.8.*`. In general, I think upper bounds are fairly annoying because of issues like this.

As for updating hackage, there was a recent merge, so I was going to upload another version anyway. Maybe this time I can just not generate

[2020-09-08 18:17] jonschoning commented on #77
I think it may make more sense to have the bounds be the same as the package.yaml.  If there's a need to include an upper bound, lets include that in package.yaml as well.  Personally I tend to adjust upper bounds manually so I don't have much experience with how `--pvp-bounds` generates the values.

[2020-09-10 17:02] akshaymankar commented on #77
Using `--pvp-bounds` to generate upper bounds just puts upper bound to be less than the next major version (according to PVP, not semver). This is the safest choice according to PVP.

We could just put the upper bounds manually, but I am not sure how would we choose a good upper bound for a given dependency. How do you do it?

Since, I don't have a way, I just remove all upper bounds until somethi

[2020-09-10 17:05] akshaymankar commented on #77
@magthe I have published a new revision of `kubernetes-client-0.2.0.0` on hackage to unblock you until we decide how to deal with upper bounds.

[2020-09-11 11:02] magthe commented on #77
One way to deal with it in the future could be to

1. Generate without upper bounds and upload to Hackages
2. When finding that a new version of a dependency breaks the build, add an upper bound on Hackage only (via the "edit package information" link on the package's Hackage page)
3. Make the necessary changes upstream, and start over from 1.

[2020-09-14 18:10] akshaymankar commented on #77
@jonschoning Is it ok if we do it as @magthe says?

[2020-09-14 18:12] jonschoning commented on #77
sounds good to me

On Mon, Sep 14, 2020, 1:10 PM Akshay Mankar <notifications@github.com>
wrote:

[2020-09-24 07:05] akshaymankar commented on #68
/remove-lifecycle stale

[2020-09-26 11:02] akshaymankar commented on #77
I also published the the latest version. I will close this issue now.

/close

[2020-09-26 11:02] #77 closed

[2020-10-11 14:37] akshaymankar commented on #63
/remove-lifecycle stale

[2020-10-25 22:21] jonschoning commented on #76
https://github.com/OpenAPITools/openapi-generator/pull/7805

[2020-10-30 19:36] jonschoning commented on #76
/close
resolved with https://github.com/OpenAPITools/openapi-generator/pull/7805

[2020-10-30 19:36] #76 closed

[2020-11-12 07:28] akshaymankar commented on #52
/remove-lifecycle stale

[2020-11-22 19:22] jonschoning commented on #73
/remove-lifecycle stale

[2020-11-26 02:04] jonschoning commented on #67
/remove-lifecycle stale

[2020-12-03 10:23] fwt11 opened #80 "does not compile"
the  commit `a9d6705e8c57da1a336c3376b3a3f8765dc1bde2` does not compile with errors:
[code]

[2020-12-03 18:37] akshaymankar commented on #80
Looks like hoauth2 made the field optional here: https://github.com/freizl/hoauth2/pull/114
The latest version where it is not optional is `1.10.2`.
I will make a PR to support latest versions of hoauth2, until then I guess you can pin hoauth2 to 1.10.2.

[2020-12-04 00:08] fwt11 commented on #80
thanks!

[2020-12-04 16:48] #80 closed

[2020-12-04 19:28] akshaymankar commented on #80
I published a new version of the client here: [kubernetes-client-0.3.2.0](https://hackage.haskell.org/package/kubernetes-client-0.3.2.0)

[2020-12-23 17:13] akshaymankar commented on #68
/remove-lifecycle stale

[2021-01-06 14:58] brendanhay opened #83 "Strategic JSON patch no longer supported?"
Comparing `0.3.0.0` and `3.1.0.0`, the following instances have been _removed_ from the newer version:

[code]

While I'm unaware of the reasoning behind the removal, it does appear that calls such as `patchNamespacedService` and all other PATCH operations are borderline useless, as you're now required to assemble a read+patch to formulate an incremental atomic update. The only remaining instance

[2021-01-09 17:39] akshaymankar commented on #63
/remove-lifecycle stale

[2021-01-13 17:16] jonschoning commented on #83
this has been fixed

[2021-01-13 17:16] jonschoning commented on #83
/close

[2021-01-13 17:16] #83 closed

[2021-02-02 18:58] jonschoning commented on #73
@joelmccracken I realize much time has passed, but with https://github.com/kubernetes-client/haskell/pull/75 I don't think there should be as many blockers to move to a later LTS if needed; please let me know if you still would like to keep this issue open

[2021-02-02 19:15] joelmccracken commented on #73
Sure that's probably fine. I ended up working around this, so I don't know if I will be able to use i any time soon. If I have issues in the future i'll reopen or file a new ticket.

[2021-02-02 19:15] #73 closed

[2021-02-10 07:55] akshaymankar commented on #52
/remove-lifecycle stale.

[2021-02-14 06:48] thomasjm opened #86 "Wrong return type in deleteNamespacedPersistentVolumeClaim"
https://github.com/kubernetes-client/haskell/blob/b078aa6fe0f97cf6b52eaac0cd40082b67b0e8bd/kubernetes/lib/Kubernetes/OpenAPI/API/CoreV1.hs#L3810-L3816

In the type above, the return value says `V1Status`. I think it should be `V1PersistentVolumeClaim`; see the docs here:

https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1/#response-9

I noti

[2021-02-14 20:44] jonschoning commented on #86
unfortunately the swagger.json at https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.16/api/openapi-spec/swagger.json shows that the response is
[code]

[2021-02-14 21:18] jonschoning commented on #86
The `settings` file currently targets kubernetes 1.16 and it looks like the api changed in 1.18 to return a `V1PersistentVolumeClaim`.

updating the targeted version in `settings` to >= 1.18 and re-gen client should work.

[2021-02-14 22:17] thomasjm commented on #86
Ah, thanks for researching that.

I was just reading about the [version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/) and the policies of some major cloud providers. It seems each minor version is supported for about 3 years, so 1.16 is pretty much out of its support window now. What do you think of regenerating this library at 1.20? (What would be really cool is crea

[2021-02-14 22:42] jonschoning commented on #86
i think it's overdue for an update; i'll make a PR if everything goes well

[2021-02-15 01:35] jonschoning commented on #86
c.f. https://github.com/kubernetes-client/haskell/pull/87

[2021-02-19 17:38] jonschoning commented on #86
/close

[2021-02-19 17:38] #86 closed

[2021-02-24 16:02] jonschoning commented on #67
/remove-lifecycle stale

[2021-03-12 08:56] akshaymankar commented on #52
/remove-lifecycle rotten

[2021-03-24 08:34] akshaymankar commented on #68
/remove-lifecycle stale

[2021-04-09 19:49] akshaymankar commented on #63
/remove-lifecycle stale

[2021-06-24 18:20] jonschoning commented on #67
/remove-lifecycle rotten

[2021-06-24 18:20] jonschoning commented on #67
/remove-lifecycle stale

[2021-08-09 10:40] #52 closed

[2021-08-19 10:37] fwt11 opened #90 "ssl error when specify master address as IP address in config file"
When i connect to the cluster using a kubeconfig file, I get a SSL error saying "name mismatch".

Is it possbile to change the signature of function `mkKubeClientConfig` from
  `OIDCCache -> KubeConfigSource -> IO (NH.Manager, K.KubernetesClientConfig)` to `mkKubeClientConfig
  :: OIDCCache -> KubeConfigSource -> (TLS.ClientParams -> TLS.ClientParams)-> IO (NH.Manager, K.KubernetesClientConfig)`,

[2021-08-21 10:22] #68 closed

[2021-09-06 22:26] #63 closed

[2021-09-22 20:09] jonschoning commented on #67
/remove-lifecycle stale

[2021-11-18 18:15] jonschoning commented on #90
/remove-lifecycle stale

[2022-01-13 23:13] jonschoning commented on #67
/remove-lifecycle stale

[2022-01-13 23:14] jonschoning commented on #67
/close fixed with https://github.com/kubernetes-client/haskell/pull/92

[2022-01-13 23:14] jonschoning commented on #67
/close

[2022-01-13 23:14] #67 closed

[2022-02-17 18:45] JensGM opened #93 "kubernetes-client seems broken in both stack and nix-env. Any tips on installation?"

[2022-02-18 08:35] JensGM commented on #90
/remove-lifecycle stale

[2022-02-18 08:36] JensGM commented on #90
This is pretty breaking. Was hoping to make use of this for some automation than lends it self neatly to Haskell, but we'll have to use python for now.

[2022-02-21 02:20] jonschoning commented on #93
i'm not having any problems building from source https://gist.github.com/jonschoning/3f27b7cfd2991a657e80bbe1dd674bc4

[2022-02-21 08:55] JensGM commented on #93
Yeah, it worked fine with cabal as well. So sticking to that for now! Thanks

[2022-02-21 08:55] #93 closed

[2022-03-04 11:32] robwithhair opened #94 "Version on hackage is old"
The version on Hackage could use an update.  Builds fine in stack pointing at the repo but version on Hackage is too old.  Happy to help if desired.

[2022-03-04 11:41] robwithhair commented on #90
Is it possible to supply a domain to work around this error or is this project broken?  I have a member of my team working with this project as a dependency at the moment, so will post if able to reproduce the issue.

[2022-03-05 13:54] JensGM commented on #90
If you use a domain and you control the config file your self, it's not an issue. We can't really control it since we're using GitHub actions to authenticate. It does work with domain names

[2022-05-14 10:34] thomasjm opened #95 "Possible alternative to configQueryExtraUnreserved option?"
https://github.com/kubernetes-client/haskell/blob/94ee7cc3ff1d2d66579f96a27d02105cd8e1748e/kubernetes/lib/Kubernetes/OpenAPI/Client.hs#L187

This option was introduced here: https://github.com/kubernetes-client/haskell/commit/541fb764666f84acff1ecb6c480365f0f3e79a64.

I have been running commands using the pod "exec" endpoint, and some of my commands had plus signs in them. (Because of new-style N

[2022-05-14 17:43] jonschoning commented on #95
Before addressing the proposed solution, I just want to be clear about how the code generator works.

---

From the point of view of the generator api, technically `-&-` applies an "optional param" which is up to the operation to decide how that optional param is encoded.  it could be a query param, but also be header or multiform data, etc.

The operation function only demands the required parame

[2022-05-15 02:33] thomasjm commented on #95
Thanks for the quick response!

FWIW, I have read that while there isn't good universal agreement about how plus signs in URLs should be treated, the [W3C URI spec](https://www.w3.org/Addressing/URL/uri-spec.html) says the following:

Other guidance I've seen for API designers is in line with this as well. Therefore, I'd suggest defaulting to plus-encode and treating the places where Kubernetes AP

[2022-06-03 15:04] jonschoning commented on #90
/remove-lifecycle stale

[2022-06-03 15:04] jonschoning commented on #94
/remove-lifecycle stale

[2022-08-15 15:11] jonschoning commented on #95
/remove-lifecycle stale

[2022-09-05 07:49] JensGM commented on #90
/remove-lifecycle stale

[2022-10-17 02:59] hughjfchen commented on #95
Is this related to #67 , which has been fixed by PR #92 ?

[2022-10-17 03:15] thomasjm commented on #95
Yes @hughjfchen, I referenced the relevant commit (541fb764666f84acff1ecb6c480365f0f3e79a64) in the initial post. I'd say "fixed" is a strong word :P

[2022-10-31 15:48] #94 closed